# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/
build/
/cache/
/lib/generated_plugin_registrant.dart
/lib/plugin_registrant.dart

# Build logs
*.log

# Sensitive environment variables
*.env
.env
.env.*

# Android
.gradle/
/android/app/debug
/android/app/profile
/android/app/release
/android/key.properties

# iOS
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh
/ios/Pods/

# macOS
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/Flutter/ephemeral/
/macos/Pods/

# Windows
/windows/flutter/ephemeral/

# IntelliJ / Android Studio
.idea/
*.iml
*.iws

# Visual Studio Code
.vscode/

# Web
/build/web/

